{{ if .Win -}}
    {{ if ge .winTimes 3 -}}
        ？？？挂比“{{ .Name }}”已经 {{.winTimes}} 连胜了
    {{ else -}}
        嫩吊带，“{{ .Name }}”跟菜鸡互啄了 {{ .Duration }} 分钟之后竟然赢了
    {{ end -}}
{{ else -}}
    {{ if ge .loseTimes 3 -}}
        {{.loseTimes}} 连跪，“{{ .Name }}” 是真尼玛的菜
    {{ else -}}
        惨的，“{{ .Name }}”被锤了 {{ .Duration }} 分钟之后输了
    {{ end -}}
{{ end }}
英雄: {{ .HeroName }}
比赛ID：{{ .MatchID }}
比赛等级: {{ .MatchLevel }}

击杀: {{ .Kills }}, 死亡: {{ .Deaths }}, 助攻: {{ .Assists }}