{{ if .Win -}}
    嫩吊带，{{ .Name }}有来有回了{{ .Duration }}分钟之后竟然赢了
{{ else -}}
    惨的，{{ .Name }}又输了，甚至被锤了{{ .Duration }}分钟
{{ end }}
英雄: {{ .HeroName }}
比赛ID：{{ .MatchID }}
比赛等级: {{ .MatchLevel }}

击杀: {{ .Kills }}, 死亡: {{ .Deaths }}, 助攻: {{ .Assists }}